.body-container {
  display: flex;
  flex-direction: column;
}

.view-user-content {
  display: flex;
  margin-top: 15px;
}

.post-title-container {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content-editor {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.content-textbox {
  width: 100%;
  height: 300px;
}

.user-select {
  align-self: flex-end;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.save-button {
  align-self: center;
  width: 40%;
  margin-top: 10px;
}